POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=manualj
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=changeme
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/manualj?schema=public
ENABLE_OAUTH=false
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
